./logs/*
./logs/ppo_visual/*
./logs/ppo_tabular_tensorboard/*
./wave_defense/__pycache__/*
./wave_defense/wave_defense.egg-info/*
./wandb/*
./checkpoints/*
./models/*
./wave_defense.egg-info/*
./screenshots/*