logs/*
/logs/*
*.pyc
/*.pyc
wave_defense/wave_defense.egg-info/*
/wave_defense/wave_defense.egg-info/*
wandb/*
/wandb/*
checkpoints/*
/checkpoints/*
models/*
/models/*
wave_defense.egg-info/*
/wave_defense.egg-info/*
screenshots/*
/screenshots/*
dist/*
/dist/*